<div class="section about">
  <div class="container">
    <div class="row no-gutters">
      <div class="col">
        <div class="card">
          <div class="card-content">
            I hold four years experience of working on web technologies. I am passionate about emerging technologies and their applications
            to solve business problems. I have been regularly engaged in large-scale and complex IT engagements in the full
            stack developer role. Prior to my full-time employment with TCS, I was a Freelancer web developer. I have developed
            multiple websites and micro and small level businesses.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>