.card-holder {
    overflow: visible;
    width: 100%;
    height: auto;
    margin-top: -194px;
}

.profile-card {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    -webkit-transition: height 1s, color 1s, margin 1s;
    transition: height 1s, color 1s, margin 1s;
    z-index: 1;
}

.profile {
    // position: absolute;
    // left: 0;
    border-right: 20px solid #06A763;
    z-index: 1;
    img{
        height: 350px;
    }
}

.profile-content {
    background: #06A763;
}

.slant {
    top: 0;
    z-index: 1;
    position: absolute;
    border-style: solid;
    border-width: 400px 0 0 100px;
    border-color: rgba(223, 50, 50, 0) transparent transparent #06A763;
}

.profile-info {
    padding: 40px;
    position: relative;
    height: 350px;
    .profile-headings {
        max-width: 500px;
        h4 {
            display: block;
            width: 100%;
            font-weight: 900;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
        }
        h6 {
            display: block;
            width: 100%;
            font-weight: 300;
            margin-top: -10px;
            margin-bottom: 30px;
            font-size: 1.2em;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
        }
    }
    .socialbar {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        .social-icon {
            font-size: 25px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .info-list {
        clear: both;
        span {
            line-height: 20px;
            color: #fff;
            margin-right: 10px;
        }
    }
}